* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: rgb(0, 153, 212);
}

/* Header */
header {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 20px;
}

.escudoallcab,
.achicarImagen {
    width: 150px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

nav a:hover, footer a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

/* Main */
main {
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    text-decoration: solid;
    margin: 20px 0px;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
h3 {
    text-align: center;
}

/* Footer */
footer {
    min-height: 250px;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

.indumentaria,
.stiker,
.accesorios,
.banderas,
.pilusos,
.fiestadiadelniño {
    margin: 20px;
    border-radius: 10px;
}

.achicarImagen {
    display: inline;
    width: 20%;
    height: auto;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px;
}

.letramensaje {
    background-color: rgb(12, 26, 53);
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para dispositivos móviles */
@media (max-width:1023px) {
    .encabezado
}
@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 20px;
    }


    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .escudoallcab,
    .achicarImagen {
        width: 100px;
    }

    main {
        margin: 10px;
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    .iconos-redes-sociales a {
        width: 40px;
        height: 40px;
        margin: 5px;
    }

    .iconos-redes-sociales i {
        font-size: 1.2rem;
    }

    .achicarImagen {
        width: 100%;
    }

    input[type="text"],
    textarea {
        padding: 5px;
    }

    .letramensaje {
        font-size: 16px;
        padding: 8px 15px;
    }

    header {
        padding: 5px 10px;
    }
}

/* Estilos para pantallas más grandes */
@media (min-width: 769px) {
    nav ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .escudoallcab,
    .achicarImagen {
        width: 150px;
    }

    main {
        margin: 20px;
        padding: 20px;
    }

    h1, h2 {
        font-size: 2rem;
        margin: 20px 0;
    }

    .iconos-redes-sociales a {
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .iconos-redes-sociales i {
        font-size: 1.5rem;
    }

    input[type="text"],
    textarea {
        padding: 10px;
    }

    .letramensaje {
        font-size: 18px;
        padding: 10px 20px;
    }



